.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.no_active_link{
text-decoration: none
  }

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__links-list-item {
  line-height: 21.13px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: 134px;
}

.header__logo-image {
  width:100%;
}

.address {
  display: flex;
  flex-direction:column;
  justify-self: end;
  width: 240px;
  row-gap: 5px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header_adress {
  justify-self: end;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  display: grid;
  flex-direction: row;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-cover {
  position: relative;
  z-index: 2;
}
/*выровняли элементы оно тебе надобтеперь не выходят за рамки.*/
/*добавил общий переиспользуемый класс текст*/
.text {
  font-family: Raleway,sans-serif,bold;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
}

.word {
  display: flex;
  justify-content: start;
  padding: 164px 0 0 50px;

}

.word_middle {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 18px 0px 0px 28px;
}

.word_right {
  display: flex;
  justify-content: end;
  padding: 18px 20px 0px 0px;
}
/*убрал высоту у дескрипшн*/
.description {
  display:flex;
  justify-content: space-between ;
  width: 1000px;
  padding: 106px 0px 50px 0px ;
  z-index:2;
  align-items: center;
  margin-left: 50px;
}
/*подогнал текст по шаблону фигма ,а иенно исправил word spacing*/
.subline {
  font-family: "Raleway",sans-serif;
  position: relative;
  font-size: 22px;
  font-weight: 400;
  text-align:center ;
  color: white;
  line-height: 28px;
  word-spacing: 18.3px;
  text-transform: uppercase;
  white-space: nowrap;
}
/*убрал высоту и флекс ,заменил на блочный элемент*/
.bet-button {
  display: block;
  justify-content:center;
  border: 1px solid white;
  background-color: transparent;
  font-weight: 500;
  font-family: "Raleway",sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  width: 256px ;
  padding: 12px 0px ;
  color: #f5f5f5;
}
/*исправиль прозрачность оверлея*/
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
/*убрал высоту */
.lots {
  display: block;
  margin-top: 180px;
  margin-left:24px;
  }
/*убрал высоту */
.lots_heading {
  display: block;
  font-family: "Raleway", sans-serif, bold;
  text-align: start;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding: 0px 173px 27px 40px ;
}

.lots_card-list {
  display: grid;
  grid-template-columns: repeat(3,334px);
  gap: 25px;
  padding-top: 27px;

}
/*исправил min-height*/
.lots_card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;

  padding: 48px 40px 48px 40px;
}
/*создал общий класс*/
.card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  list-style-type:none;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  position: relative;
  text-align:left;
  color: #f5f5f5;
  z-index:2;
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  text-align:left;
  color: #f5f5f5;
  text-decoration: none;
  z-index: 2;
  font-family: "Raleway", sans-serif, bold;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/*заменил на блочный элемент*/
.lots__look-more-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-underline-offset: 5px;
  padding: 30px 102px 2px 40px;
}

.about {
  display:grid;
  grid-template-columns: 334px 1fr;
  margin: 120px 24px 180px 24px ;
  width: 1052px;
}

.about_logo {
  margin: 38px 0 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  width: 240px;
  height: 240px;
}

.about_logo-image {
  width: 141px;
}

.about_title {
  display: flex;
  padding-top: 133px;
  padding-left:24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about_text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-left: 24px;
}

.description_about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-content: center;
  flex-direction: row;
  padding:0px 50px 82px 50px;
}

.footer_adress {
  justify-self: start;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 4px;
  text-align: center;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: right;
  column-gap: 48px;
}

.footer__social-list-item {
  display: block;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
